.text-warning{
    color: #FF8D1E !important;
}
.text-secondery{
    color: #C4C4C4 !important;
}
#forgotpassword a{
    justify-content: end !important;
    text-decoration: none;
}
#loginbutton .btn-primary{
    
    background: linear-gradient(to right, #191B91 0%, #FF8D1E 100%) !important;
    
}
#loginbutton button{
    border: 0;
    width: 40%;
    border-radius: 8px;
}
#login-first{
    
    background:#f0f0f0;
}
h1 {
    font-size: 4.5rem;
    
}
h2,label{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}
.w-75 {
    width: 107%!important;
}
.h4, h4 {
    font-size: 18px;
    line-height: 17px;
}
.bg-white{
    background-color: transparent !important;
}
.form-group input {
    background:#f0f0f0;
  }
.form-group .ng-touched {
    border: 1px solid red;
}
.form-group .ng-valid {
    border: 1px solid #ced4da;
}
.card{
    /* border: 2px solid red; */
    box-shadow: 5px 5px 10px #888888;
    width: 80%;
}
.jumbotron{
    font-weight: 1000 !important;
    font-weight: 275% !important;
    color: #FF8D1E !important;
}


.col-md-4{
    padding: 0 5% 0 0;
}
button a{
    text-decoration: none;
}
.navbar{
    background-color: transparent !important;
}
@media screen and (max-width: 1368px){
    .h4, h4 {
        font-size: 17px;
        
    }
}
@media screen and (max-width: 996px) {
    .col-md-2,.col {
      /* background-image: none; */
        display: none;
    }

    .jumbotron{
        padding-top: 0 !important;
    }
    .col-lg-4{
        margin: 0 10% 0 10% !important;
        /* padding: 0 5% 0 5%; */
        padding: 0 ;
    }
    .row{
        justify-content: center !important;
    }
    /* .card{
        padding: 0 !important;
    } */
    .card{
        width: 100%;
    }
    .card-body{
        padding: 9% 13% 6% 10% !important;
        margin: 0 !important;
    }
    .btn{
        width: 34% !important;
    }
    .jumbotron{
        text-align: center !important;
    }
}
@media screen and (min-width: 996px) {
    .navbar{
      display: none;
    }
  }
  @media screen and (max-width: 450px){
    .col-lg-4{
        margin: 0 1% 0 1% !important;
        /* padding: 0 5% 0 5%; */
        padding: 0 ;
    }
}