<nav class="navbar navbar-expand-lg navbar-light justify-content-center pt-0">
    <div class="logo text-center ">
      <!-- <h1>cat</h1> -->
      <img src="../../../assets/pic/loginpic/catLogoforipad.png" class="w-50" alt="">
    </div>
  </nav>
  <div class="container-fluid " id="login-first">
    <div class="row justify-content-end">
        <div class="col-md-2 ml-4">
            <h1 class="text-warning font-weight-bold mb-0">
                C.A.T
            </h1>
            <h4 class="text-secondary">Delivery The True Value</h4>
        </div>
        <div class="col">
            <img src="../../../assets/pic/loginpic/catLogo.png" class="w-75" alt="">
        </div>
        <div class="col-lg-4 mr-4">
            <h2 class="jumbotron bg-white text-left font-weight-bold mb-0 pb-3"> Forgot password</h2>
            <div class="card px-4">
                <div class="card-body py-md-4">


                    <!-- <form _lpchecked="1" [formGroup]="kycForm" (ngSubmit)="onSubmit()"> -->
                    <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="font-weight-bold">E-mail</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email"
                                formControlName="email">
                        </div>

                       
                        <div class="col-12 text-center" id="loginbutton">

                            <button type="submit"  class="btn px-3 my-4 btn-primary">Submit</button>
                            <a href="" [routerLink]="['/log-in']" routerLinkActive="router-link-active" >
                            <button type="submit"  class="btn px-3 my-4 mx-2 btn-danger">Back</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>