<div class="container">
    <div class="row justify-content-center jumbotron my-4">
        <div class="col-sm-12 col-lg-6 card jumbotron ">
            <div class="form-group card-body">
                <h1 class="text-center font-weight-bold">
                    Account Activate <br> Successfully
                </h1>

                <h3 class="text-center my-3">
                    <!-- email : {{collection1.emailId}} -->
                </h3>
                <h3>
                    <!-- Status : {{status}} -->
                </h3>

                <div class="text-center mt-5">
                    <!-- <button class="btn btn-primary" [routerLink]="['/log-in']" routerLinkActive="router-link-active" >
                        Log-in
                    </button> -->
                    <a (click)="onSubmit()" class="text-primary" >click here to log-in</a>
                </div>
            </div>
        </div>
        

    </div>
</div>
