.jumbotron{
    background: transparent ;
}
.card{
    background: #fff !important;
    box-shadow: 5px 10px 15px #888888;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
a{
    list-style: none !important;
    text-decoration: none;
    
}
a:hover{
    cursor: pointer;
}