<!-- header part start -->
<!-- <app-header *ngIf="showHead"></app-header>
<router-outlet></router-outlet> -->
<app-header>
    <router-outlet></router-outlet> 

</app-header>
<!-- <app-main-header></app-main-header> -->
<!-- header part end -->
<!-- <app-admin-role-management></app-admin-role-management> -->
<!-- <app-user-role-management></app-user-role-management> -->
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-user-list></app-user-list> -->
<!-- <app-admin-dashboard></app-admin-dashboard> -->

<!-- <app-kyc></app-kyc> -->
<!-- <app-admin-kyc></app-admin-kyc> -->

<!-- <app-log-in></app-log-in> -->
<!-- <app-confirm-password></app-confirm-password> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-period-of-trading></app-period-of-trading> -->



<!-- it start all router links-->
