<div class="container-fluid">
    <div class="row ">
        <div class="jumbotron my-0 py-3 ">
            <h1 class="font-weight-bold text-left">
                User Details
            </h1>
        </div>
        <div class="col-md-12 " id="form">
            <form [formGroup]="userlistbyid">
                <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> your data has been saved successfully.
                    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row bg-white" id="first-row">
                    <div class="col-md-12 p-2">

                        <h2 class="font-weight-bold">Personal Information</h2>
                    </div>
                    <!-- <div class=""> -->


                    <div class="col-lg-5">

                        <div class="form-group">
                            <label for="exampleFormControlFile1">First Name</label>
                            <input type="text" formControlName="firstName" class="form-control-file"
                                id="exampleFormControlFile1" placeholder="">


                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlFile1">Last Name</label>
                            <input type="text" formControlName="lastName" class="form-control-file"
                                id="exampleFormControlFile1" placeholder="">
                        </div>
                        <div class="form-group ">
                            <label for="inputState">Gender</label>
                            <select formControlName="gender" id="inputState" class="form-control">
                                <option selected value="">Choose...</option>
                                <option>Male</option>
                                <option>Female</option>

                            </select>
                        </div>


                        <div class="form-group">
                            <label for="exampleFormControlFile1">Email</label>
                            <input type="email" class="form-control-file" formControlName="emailId" placeholder="">

                        </div>

                        <div class="form-group ">
                            <label for="exampleFormControlFile1">D.O.B</label>
                            <input type="date" [ngModel]="BirthDate | date:'yyyy-MM-dd'" class="form-control-file"
                                formControlName="date_of_birth" placeholder="">

                        </div>
                        <div class="form-group ">
                            <label for="exampleFormControlFile1">created by</label>
                            <select formControlName="createdBy" id="inputState" class="form-control" >
                                <option selected *ngFor="let item of collection1" [value]="item.user_id">{{item.userName}}</option>
                                <!-- <option></option>
                                <option>Female</option> -->

                            </select>

                        </div>

                    </div>

                    <div class="col ml-4" id="secondgroup">
                        <div class="form-group ">
                            <label for="exampleFormControlFile1">Mobile</label>
                            <input type="text" class="form-control-file" formControlName="mobileNo" placeholder="">

                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Home Address</label>
                            <textarea type="text" formControlName="address1" class="form-control-file" rows="4"
                                id="exampleFormControlFile1" placeholder="">
                                </textarea>
                        </div>



                        <div class="form-group" id="busniss">
                            <label for="exampleFormControlFile1">Business Address</label>
                            <textarea formControlName="address2" class="form-control-file" rows="4"
                                id="exampleFormControlFile1" placeholder=""> </textarea>
                        </div>



                        <div class="form-group ">
                            <label for="inputState">Country</label>
                            <select formControlName="country" class="form-control">
                                <option selected value=''>Choose...</option>
                                <option value="India">India</option>
                                <option value="america">america</option>
                            </select>

                        </div>




                    </div>

                    <!-- </div> -->
                    <!-- trading information part start  -->

                    <div class="col-md-12 p-2 mt-3 mb-3">

                        <h2 class="font-weight-bold mt-4">Trading Plan</h2>
                    </div>
                    <!-- <div class=""> -->


                    <div class="col" id="trading-plane">


                        <div class="form-group row">
                            <label for="exampleFormControlFile1"
                                class="col-lg-5 col-sm-12 col-form-label mb-3 text-center">Initial
                                Investment:</label>
                            <div class="col-lg-7 col-sm-12">

                                <input type="number" formControlName="initial_investment" class="form-control-file"
                                    id="exampleFormControlFile1" placeholder="">
                            </div>

                        </div>

                        <div class="form-group row ">
                            <label for="inputState" class="col-lg-5 col-sm-12 col-form-label mb-4 text-center">Total Max% Risk :</label>
                            <div class="col-lg-7 col-sm-12">


                                <input type="number" formControlName="total_max_percentage_risk"
                                    class="form-control-file" id="exampleFormControlFile1" placeholder="">
                            </div>

                        </div>






                    </div>

                    <div class="col ml-4" id="trading-plane">

                        <div class="form-group row ">
                            <label for="exampleFormControlFile1"
                                class="col-lg-5 col-sm-12 col-form-label text-center">Frequency
                                <br>
                                of Trade :</label>
                            <div class="col-lg-7 col-sm-12">
                                <select formControlName="frequency_of_signal" class="form-control">
                                    <option selected value=''>Choose...</option>
                                    <option value="High">High</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Low">Low</option>
                                </select>


                            </div>
                        </div>

                        <div class="form-group row ">
                            <label for="inputState" class="col-lg-5 col-sm-12 text-center col-form-label">Estimated
                                <br>
                                Trading
                                Range
                                : </label>
                            <div class="col-lg-7 col-sm-12">
                                <select formControlName="estimated_trading_range" class="form-control">
                                    <option selected value=''>Choose...</option>
                                    <option value="Month">Month</option>
                                    <option value="Week">Week</option>
                                    <option value="Day">Day</option>
                                </select>



                            </div>
                        </div>

                    </div>
                </div>
                <div class="row my-3 ">
                    <div class="col">
                        <!-- <button type="submit" class="btn btn-success mr-3">Back</button> -->
                    </div>
                    <div class="col text-right">

                        <button type="submit" (click)="cancel()" class="btn btn-danger mr-3">Cancel</button>
                        <button type="submit" (click)="onSubmit(userlistbyid.value)" id=""
                            [disabled]="!userlistbyid.valid" class="btn btn-primary mr-3">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>