<nav class="navbar navbar-expand-lg navbar-light justify-content-center pt-0">
    <div class="logo text-center ">
        <!-- <h1>cat</h1> -->
        <img src="../../../assets/pic/loginpic/catLogoforipad.png" class="w-50" alt="">
    </div>
</nav>
<div class="container-fluid " id="signup-first">
    <div class="row justify-content-end">
        <div class="col-md-2">
            <h1 class="text-warning font-weight-bold mb-0">
                C.A.T
            </h1>
            <h4 class="text-secondary">Delivery The True Value</h4>
        </div>
        <div class="col">
            <img src="../../../assets/pic/loginpic/catLogo.png" class="w-75" alt="">
        </div>
        <div class="col-lg-5 px-3 mr-5">
            <h2 class="jumbotron bg-white font-weight-bold mb-0 pl-0 pb-3"> Change Password</h2>


            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success!</strong>Your data has been changed.
                    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="px-5 pb-2">
                    <div class="card py-md-4 px-5">
                        <div class="Innerform mb-5">


                            <div class="form-group">
                                <!-- <div class="col-sm-12 pl-4"> -->

                                <label for="exampleInputPassword1" class="font-weight-bold">Current Password</label>

                                <div class="input-group-append">
                                    <input [type]="show_button1 ? 'text' : 'password'" class="form-control"
                                        placeholder="Current Password" formControlName="currentPassword">
                                    <i [class]="show_eye1 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword1()"
                                        id="eye">
                                    </i>

                                </div>
                                <!-- Modify style as you need -->
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1" class="font-weight-bold">New Password</label>


                                <div class="input-group-append">

                                    <input [type]="show_button2 ? 'text' : 'password'" class="form-control"
                                        placeholder="New Password" formControlName="changePassword">



                                    <i [class]="show_eye2 ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword2()"
                                        id="eye">
                                    </i>

                                </div>
                            </div>

                            <div class="form-group">
                               <label for="exampleInputPassword1" class="font-weight-bold">Confirm Password</label>
                               
                               
                               <div class="input-group-append">
                                   <input [type]="show_button3 ? 'text' : 'password'" class="form-control"
                                            placeholder="Confirm Password" formControlName="confPassword" autocomplete>
                                   
                                   

                                        <i [class]="show_eye3 ? 'fa fa-eye' : 'fa fa-eye-slash'"
                                            (click)="showPassword3()" id="eye">
                                        </i>
                                   
                                </div>

                                <div class="invalid-feedback"
                                    *ngIf="changePasswordForm.get('confPassword').hasError('passwordMismatch')">
                                    Password Don't match
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Submitbutton mt-5 mb-3 text-right">

                        <button type="submit" [disabled]="!changePasswordForm.valid"
                            class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>