.jumbotron{
    background:transparent !important;
    font-family: 'Montserrat', sans-serif;
}
th,label{
    font-family: 'Montserrat', sans-serif;
}
.card{
    box-shadow: 5px 10px 15px #888888;
}

#search input{
    background-color: transparent !important;
    justify-content: flex-end;
}
.navbar .form-control{
    width: 23% !important;
}