<div class="container-fluid">
    <div class="row ">
        <div class="jumbotron my-0 py-3 ">
            <h1 class="font-weight-bold text-left">
            Assignment Details
            </h1>
        </div>
        <div class="col-md-12 " id="form">
            <form [formGroup]="CreateAssignmentForm" >
                
                <div class="row bg-white" id="first-row">
                    <div class="col-md-12 p-2">
  
                        <h2 class="font-weight-bold">Information</h2>
                    </div>
                    <div class="col-md-12 pb-4">
                        <div class="form-group">
                            <div class="col">
                                <label class="col-lg-5 col-sm-12 col-form-label mb-3 text-center" for="">User : </label>
                                
                                    <!-- <select formControlName="assignedUser" class=" col-lg-2 col-sm-12 form-controll-file" > -->
                                        <input type="text" formControlName="assignedUser" id="taskname" readonly>
                                    <!-- <option selected value="">Choose</option> -->
                                    <!-- <option *ngFor="let item of collection" [value]="item.assignment_name">{{item.assignment_name}}</option> -->
                                    <!-- <option value="3">Hunter</option>
                                    <option value="4">Mam</option> -->
                                    <!-- </select> -->
                                
                            </div>
                        </div>
  
                        <div class="form-group ">
                         <label for="" class="col-lg-5 col-sm-12 col-form-label  text-center">Task Name : </label>
                            <input type="text" formControlName="assignmentName" id="taskname" readonly>
                        </div>
                        
                        <div class="input-group mb-3" >
                            <label for="exampleFormControlFile1"  class="col-lg-5 col-sm-12 col-form-label mb-3 text-center" >Task Discription</label>
                            <textarea formControlName="assignmentDescription" class="" rows="7" cols="49"
                                id="exampleFormControlFile1" placeholder="" readonly> </textarea>
                        </div>

                        <div class="form-group">
                            <div class="col">

                                <label class="col-lg-5 col-sm-12 col-form-label mb-3 text-center"> File</label>
                                <button class="btn-primary">
                                    
                                    <a href="" class="text-white" download> File</a>
                                </button>
                            </div>
                        </div>
  
                    </div>
                    
                </div>
                <div class="row my-3 ">
                    <div class="col-5">
                        <button type="submit" (click)="backbutton()" class="btn btn-primary mr-3">Back</button>
                    </div>
                    <div class="col text-left">
  
                        <button type="submit" (click)="cancel('disapprove')" class="btn btn-danger mr-3">Disapprove</button>
                        <button type="submit" (click)="onSubmit('approve')" id="btn-primary" [disabled]="!CreateAssignmentForm.valid" class="btn btn-primary mr-3 ">Approve</button>
                    </div>
                </div>
            </form>
        </div>
  
    </div>
  </div>
  